body {
  width: 800px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.form {
  position: relative;
  background: #ffffff;
  max-width: auto;
  margin: auto;
  padding: auto;
  height: 100vh;
  text-align: center;
}

fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}

label {
  color: black;
  padding: 0 50 0 0px;
}

.res {
  display: inline-block;
  outline: 0;
  background: #337ab7;
  width: 25%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.city {
  width: auto;
  display: inline-block;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.sub {
  display: inline-block;
  outline: 0;
  background: #337ab7;
  width: 25%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
